@charset "UTF-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

 
.img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/*ここから下がデザイン*/   

body {
  background-color: #eeeeee;
  max-width: 960px;
  margin: 0 auto;
}

.title { 
    color:#33a6b5;
    margin: 40px auto;
    text-align: center;
}

.service {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.service-item { 
 width: 31.25%;
  }

  .service-item img {
  width: 100%;
  height: auto;
  display: block;
  
}

.text-box{
  background-color: #ffffff;
  padding: 5px;

}

.text-box h2{
  border-left: 10px solid #33a6b5 ;
  color:#33a6b5;
  padding: 5px ;
  margin-left: 5px;
  
  display: block;
  
}
 .text-box p{
  background-color: #ffffff;
  padding: 10px ;
}

 @media  screen and (max-width:400px) {
 
  .service{ display: block;
  margin: 10px ;
  
  }

  .service-item{
    margin-bottom: 10px;
    width: 100%;
  }
 } 
  
 


